<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Complete Your Registration</title>
</head>

<body>
  <div style="text-align: center">
    <h1 style="color: #007bff">Complete Your Registration</h1>
    <p>Thank you for signing up to GadgetGallery!</p>
    <p>To complete your registration, please click the button below:</p>
    <p>
      <a href="{{registrationLink}}?email={{encryptedEmail}}" style="
            display: inline-block;
            padding: 12px 24px;
            background-color: #313335;
            color: white;
            text-decoration: none;
            border-radius: 4px;
          ">Verify Email</a>
    </p>
    <p>If you did not sign up for our app, please ignore this email.</p>
    <strong>note: this link will expired in 10 minutes</strong>
  </div>
</body>

</html>